<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About GrocerJar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <img src="assets/logo.png"><br/>

    
    <p>GrocerJar is an app that allows you to keep track of your grocery list.<br/></p>

    <p>
      Developed by<br/>
      <b>
        Joel<br/>
        <small>174866J</small>
      </b>
    </p>

    <small>&copy; {{currYear}}</small>
  </div>
</ion-content>
