<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Groceries</ion-title>

    <ion-buttons slot="end" >
      <ion-button color="primary" (click)="modalFilter()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>

      <ion-button color="primary" [routerLink]="['/add-grocery']">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar #searchBar placeholder="Search by name, quantity or status" color="primary" (ionChange)="search($event)" style="padding-bottom: 0;"></ion-searchbar>
  <small style="margin-left: 1rem; margin-bottom: 1rem; color: #9E9E9E;">Search status with true or false value.</small>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-item class="ion-text-center" lines="full">
          <ion-checkbox style="margin: 0;" [(ngModel)]="checkParent" [indeterminate]="indeterminateState" (click)="checkAll($event)"></ion-checkbox>
        </ion-item>

        <ion-item class="ion-text-center" lines="full" *ngFor="let i of groceries">
          <ion-checkbox style="margin: 0;" [checked]="i.status" [(ngModel)]="i.status" (ngModelChange)="verifyCheckBox()" (click)="updatedToastMsg()"></ion-checkbox>
        </ion-item>
      </ion-col>

      <!-- Images are hidden if window/device width is < 576px -->
      <ion-col class="grocery-img" size="auto">
        <ion-item lines="full" class="ion-text-center">
          <ion-label style="font-weight: 700;">Image</ion-label>
        </ion-item>

        <ion-item lines="full" class="ion-text-center" *ngFor="let i of groceries">
          <ion-thumbnail *ngIf="i.image">
            <img *ngIf="i.status" [src]="'https://firebasestorage.googleapis.com/v0/b/grocerjar-4b133.appspot.com/o/uploads%2F' + i.image + '?alt=media'" style="filter: grayscale(100%);">

            <img *ngIf="!i.status" [src]="'https://firebasestorage.googleapis.com/v0/b/grocerjar-4b133.appspot.com/o/uploads%2F' + i.image + '?alt=media'">
          </ion-thumbnail>

          <ion-label *ngIf="!i.image" style="font-size: 1.5rem;">
            <ion-icon name="image"></ion-icon>
          </ion-label>

        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item lines="full">
          <ion-label style="font-weight: 700;">Item</ion-label>
        </ion-item>

        <ion-item lines="full" *ngFor="let i of groceries">
          <span style="text-decoration: line-through; color: #BDBDBD;" *ngIf="i.status">
            {{i.item}}
          </span>
  
          <span *ngIf="!i.status">{{i.item}}</span>
        </ion-item>
      </ion-col>

      <ion-col size="auto">
        <ion-item class="ion-text-center" lines="full">
          <ion-label style="font-weight: 700;">
            Qty
          </ion-label>
        </ion-item>

        <ion-item class="ion-text-center" lines="full" *ngFor="let i of groceries">
          <ion-label style="text-decoration: line-through; color: #BDBDBD;" *ngIf="i.status">
            {{i.quantity}}
          </ion-label>
          
          <ion-label *ngIf="!i.status">{{i.quantity}}</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="auto">
        <ion-item class="ion-text-center" lines="full">
          <ion-label style="font-weight: 700;">
            Actions
          </ion-label>
        </ion-item>

        <ion-item class="ion-align-self-center" lines="full" *ngFor="let i of groceries">
          <ion-buttons class="ion-text-center">
            <ion-button color="success" [routerLink]="['/edit-grocery', i.id]">
              <ion-icon name="create"></ion-icon>
            </ion-button>

            <ion-button color="danger" (click)="delete(i)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="container" *ngIf="groceries.length < 1">
    <ion-icon style="font-size: 15rem;" name="sad"></ion-icon><br />
    <ion-text color="danger" style="font-size: 26px; line-height: 1.2; text-transform: uppercase;">Whoops!</ion-text>

    <p>
      There is no item(s) in your groceries list.<br />
      Use the <b>+</b> icon at the top right to add an item.
    </p>
  </div>
</ion-content>
