<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div *ngIf="weather">
      <img style="max-height: 300px;" [src]="weather.weatherIcon" *ngIf="weather.weatherIcon">

      
      <p *ngIf="weather.weatherText.toLowerCase().includes('shower') || weather.weatherText.toLowerCase().includes('storm') || weather.weatherText.toLowerCase().includes('rain') ">
        Looks like it will be raining,<br/>
        it is probably best not to do your grocerry shopping.
      </p>

      <p *ngIf="!weather.weatherText.toLowerCase().includes('shower') && !weather.weatherText.toLowerCase().includes('storm') && !weather.weatherText.toLowerCase().includes('rain')">
        Looks like it will not be raining,<br/>
        it is probably good to do your grocerry shopping.
      </p>

      <p>
        <ion-label style="font-size: 3rem; font-weight: 700;">
          {{weather.tenperature}}&deg;C
        </ion-label><br/>

        <ion-label style="font-size: 1.2rem;;">
          {{weather.weatherText}}
        </ion-label>
      </p>
      
      <p>
        <small>Last Updated on {{weather.dateTime | date: 'dd.MM.yyyy h:mm a'}}</small>
      </p>
    </div>
  </div>
</ion-content>
